COMPOSE_PROJECT_NAME=librechat
UID=1000
GID=1000

#==================================================#
#                      Search                      #
#==================================================#

MEILI_NO_ANALYTICS=true
MEILI_HOST=http://0.0.0.0:7700
MEILI_MASTER_KEY=a14a14a97b012f0599ef934b80a46820

#==================================================#
#                        RAG                       #
#==================================================#

RAG_PORT=8000

DEBUG_RAG_API=true
# PDF_EXTRACT_IMAGES=false
# RAG_UPLOAD_DIR="./uploads/"
EMBEDDINGS_PROVIDER=openai
RAG_OPENAI_BASEURL=https://api.openai.com/v1
# RAG_OPENAI_PROXY=
RAG_OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EMBEDDINGS_MODEL=text-embedding-3-small
# EMBEDDINGS_PROVIDER="huggingface"
# HF_TOKEN="hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# EMBEDDINGS_MODEL="sentence-transformers/all-MiniLM-L6-v2"
