COMPOSE_PROJECT_NAME=librechat

#==================================================#
#                      Search                      #
#==================================================#

MEILI_NO_ANALYTICS=true
MEILI_MASTER_KEY=DrhYf7zENyR6AlUCKmnz0eYASOQdl6zxH7s7MKFSfFCt

#==================================================#
#                        RAG                       #
#==================================================#
# More info: https://www.librechat.ai/docs/configuration/rag_api

DEBUG_RAG_API=true
# PDF_EXTRACT_IMAGES=false
# RAG_UPLOAD_DIR="./uploads/"
EMBEDDINGS_PROVIDER="openai"
RAG_OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
EMBEDDINGS_MODEL="text-embedding-3-small"
RAG_OPENAI_BASEURL=https://api.bltcy.ai/v1
# RAG_OPENAI_PROXY=
# EMBEDDINGS_PROVIDER="huggingface"
# HF_TOKEN="hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
# EMBEDDINGS_MODEL="sentence-transformers/all-MiniLM-L6-v2"